<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.mc.englishlearn">

    <!--Zezwolenie na nagrywanie dźwięku i przechowywanie dźwięku w urządzeniu użytkownika-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--Zezwolenie na okno powiadomień alaramowych-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/g14947"
        android:label="@string/app_name"
        android:roundIcon="@drawable/g14947"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".przypomnienia.PrzypomnienieMenuActivity"
            android:parentActivityName=".MenuActivity"
            android:exported="true" />
        <activity android:name=".nagrywanie.NagrywarkaMainActivity"
            android:parentActivityName=".MenuActivity"
            android:exported="true"/>
        <activity android:name=".odtwarzacz.OdtwarzaczActivity"
            android:parentActivityName=".MenuActivity"
            android:exported="true"/>
        <activity android:name=".przypomnienia.Przypomnienie"
            android:parentActivityName=".przypomnienia.PrzypomnienieMenuActivity"
            android:exported="true"/>
        <activity
            android:name=".MenuActivity"
            android:exported="true"/>
        <activity android:name=".EkranStartowyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".nagrywanie.SerwisNagrywarki"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            android:exported="true"/>

    </application>

</manifest>